# Ignore Python cache
__pycache__/
*.pyc

# Ignore zip archives
*.zip

# Ignore logs
*.log

# Ignore database files
*.db

# Ignore generated secrets and restore output
data/secret.key
data/restore_output/
data/cloud_storage/
